.box1 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 7%;
}
.box2 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 7%;
}
.box3 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 7%;
}
.box4 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 7%;
}
.box5 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 7%;
}
.new1 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 10%;
}
.new2 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 12%;
}
.new3 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 5%;
}
.new4 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 15%;
}
.new5 {
    background-image: linear-gradient(to right, #7326B9 , #D393C5, #E7D1C7, #FAF2EC, #FCE574);
    color: black;
    font-size: 2em;
    padding: 0.5%;
    width: 13.5%;
}