table
{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
th
{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
td
{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}